@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(214, 13%, 10%);
  --card: hsl(0, 0%, 100%);
  --border: hsl(214, 13%, 80%);
}

.dark {
  --background: hsl(214, 13%, 10%);
  --foreground: hsl(214, 13%, 90%);
  --card: hsl(214, 13%, 14%);
  --border: hsl(214, 13%, 20%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
}
