@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /* Colors */
  --bg-color: hsl(30, 54%, 90%);
  --bg-card: hsl(0, 0%, 100%);
  --text-primary: hsl(24, 5%, 18%);
  --text-foreground: hsl(30, 10%, 34%);
  --text-secondary: hsl(30, 18%, 87%);
  --nutmeg-color: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Font */
  --font-size: 1rem;
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", serif;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

html {
  font-family: var(--font);
  background: var(--bg-color);
  color: var(--text-foreground);
  letter-spacing: -0.025rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body,
figure {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 768px;
  padding-block: 4rem;
}

a {
  color: var(--text-muted-foregound);
  text-decoration: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
}

p,
span,
li a {
  color: var(--text-muted-foregound);
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

.attribution {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
}
