@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
  --inter-font: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: var(--inter-font);
}

body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

input,
textarea,
select {
  font: inherit;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

[hidden] {
  display: none;
}
