@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --bg-color: hsl(47, 88%, 63%);
  --bg-card: hsl(0, 0%, 100%);
  --text-foreground: hsl(0, 0%, 7%);
  --text-muted-foregound: hsl(0, 0%, 40%);

  /* Font */
  --font-size: 1rem;
  --font: "Figtree", "sans-serif";
  --font-weight-500: 500;
  --font-weight-800: 800;
}

html {
  font-family: var(--font);
  background: var(--bg-color);
  color: var(--text-foreground);
  letter-spacing: -0.025rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body,
figure {
  margin: 0;
  padding: 0;
  padding: 2rem;
}

body {
  max-width: 640px;
}

a {
  color: var(--text-muted-foregound);
  text-decoration: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
}

p,
span,
li a {
  color: var(--text-muted-foregound);
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

.attribution {
  margin-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  body {
    padding-inline: 4rem;
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  body {
    padding-inline: 6rem;
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  body {
    padding-inline: 8rem;
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  body {
    padding-inline: 10rem;
    max-width: 1536px;
  }
}
