@import "tailwindcss";

:root {
  --foreground: #f5f5f5;
}

@theme {
  --color-foreground: var(--foreground);

  --animate-fade-in: fadeIn 0.6s ease-in-out forwards;
}

@layer {
  body {
    @apply text-foreground bg-black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
