.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainContentDesktopImg {
  display: none;
}

.mainContentTitle {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-very-dark-blue);
}

.mainContentDescription {
  color: var(--color-dark-grayish-blue);
}

.mainContentButton {
  background-color: var(--color-soft-red);
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-block: 1rem;
}

.new {
  background-color: var(--color-very-dark-blue);
  padding: 1rem;
}

.newTitle {
  color: var(--color-soft-orange);
  font-size: 2rem;
  font-weight: 600;
  margin-block: 1rem;
}

.newList {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;

  & li {
    border: 1px solid var(--color-dark-grayish-blue);
    padding: 1.4rem;
  }

  & li div > a {
    margin-bottom: 0.6rem;
  }

  & li div > p {
    font-size: 1rem;
    color: var(--color-grayish-blue);
  }
}

@media (width >= 1024px) {
  .mainContentBox {
    display: flex;
    gap: 1rem;
  }

  .mainContentDesktopImg {
    display: block;
  }

  .mainContentMobileImg {
    display: none;
  }

  .mainContent > div {
    display: flex;
    gap: 4rem;
    background: var(--color-grayish-blue);
    padding: 2rem;
    align-items: center;
  }
}
