@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

:root {
  --background: hsl(47, 88%, 63%);
  --foreground: hsl(0, 0%, 42%);
  --card: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 7%);
  --radius: 1rem;
  --border: 2px solid var(--primary);
  --box-shadow: 0.4375rem 0.4375rem 0 var(--primary);
  --figtree: "Figtree", sans-serif;
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding-inline: 0.75rem;
  font-family: var(--figtree);
  flex-direction: column;
}

main {
  max-width: 23.4375rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--card);
  padding: 1.5rem;
  display: grid;
  gap: 0.75rem;
  border-radius: var(--radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.card__image {
  width: 100%;
  border-radius: calc(var(--radius) - 0.5rem);
}

.card__category {
  background-color: var(--background);
  max-width: 5rem;
  text-align: center;
  padding-block: 0.25rem;
  border-radius: calc(var(--radius) - 0.8rem);
  font-weight: 700;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 900;
}

.card__description {
  color: var(--foreground);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__avatar {
  width: 2rem;
}

.card__link {
  background-color: var(--primary);
  padding: 0.5rem 0;
  border-radius: calc(var(--radius) - 0.5rem);
  font-weight: 700;
  transition: 0.2s ease;
  color: #fff;

  &:hover {
    background-color: var(--background);
    color: var(--primary);
  }
}

.attribution {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  font-size: 0.875rem;
  color: var(--foreground);

  & a {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .attribution {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
